header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 40px 10px;
  z-index: 1000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .name {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: white;
}

header .name:hover {
  color: #b9b9b9;
}

header .globalNav {
  background-image: -webkit-gradient(linear, left top, right top, from(#191624), color-stop(55%, #e52e71), to(#ff8a00));
  background-image: linear-gradient(to right, #191624, #e52e71 55%, #ff8a00);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  z-index: -100;
}

header .globalNavOpen {
  background-image: -webkit-gradient(linear, left top, right top, from(#191624), color-stop(55%, #e52e71), to(#ff8a00));
  background-image: linear-gradient(to right, #191624, #e52e71 55%, #ff8a00);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  z-index: -100;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

header .globalNavOpen a {
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}

header .navList {
  text-align: center;
}

header .navList li:first-child {
  margin-top: 0;
}

header .navList li {
  margin-top: 4rem;
  position: relative;
  padding: 0 2rem;
  overflow: hidden;
}

header .navList a {
  display: inline-block;
  color: #fff;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  font-family: Montserrat;
  font-weight: normal;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.2);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  margin-left: auto;
  color: white;
}

header .icons a {
  margin: 0 15px 0 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: inherit;
}

header .icon {
  color: inherit;
  font-size: 28px;
  padding-bottom: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .icon:hover {
  color: #b9b9b9;
}

header .menuIcon {
  position: relative;
  width: 50px;
  height: 22px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

header .menuIcon:after {
  top: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .menuIcon:before {
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .menuIconOpen {
  position: relative;
  width: 50px;
  height: 22px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

header .menuIconOpen:before {
  bottom: 50%;
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: rotate(-45deg) translate3d(0, 50%, 0);
          transform: rotate(-45deg) translate3d(0, 50%, 0);
}

header .menuIconOpen:after {
  top: 50%;
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: rotate(45deg) translate3d(0, -50%, 0);
          transform: rotate(45deg) translate3d(0, -50%, 0);
}
/*# sourceMappingURL=header.module.css.map */