@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.topPage {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  background: #100e17;

  &Inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.title {
  color: #fff;
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 200;
  margin-left: 12%;

  & .mainText {
    font-size: 6rem;
    line-height: 1;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
    font-family: Montserrat;
    font-weight: normal;
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  }

  & .sideText {
    font-family: Raleway;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }
}

.image {
  display: block;
  position: relative;
  width: 61%;
  height: 100vh;
  margin: 0 0 0 auto;
  box-shadow: none;
}

.imgAbout {
  background: url(../../images/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg) no-repeat
    center;
  background-size: cover;
}

.border {
  display: inline-block;
  margin-bottom: 2rem;

  & span {
    display: block;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(90deg, #e52e71, #ff8a00);

    &:first-child {
      margin-bottom: 0.7rem;
    }

    &:last-child {
      margin-left: 43px;
    }
  }
}

.scrollDown {
  position: fixed;
  font-size: 0.7rem;
  bottom: 80px;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  writing-mode: vertical-rl;
  color: black;
  z-index: 100;
  transform: translateY(0%);
  color: white;
  cursor: default;
}

.scrollDown::after {
  content: "";
  width: 2px;
  height: 64px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -80px;
}

.backArrow {
  display: block;
  height: 40px;
  width: 60px;
  overflow: hidden;
  color: #fff;
  z-index: 100;
  background: url(../../images/arrow.svg) no-repeat center;

  &Wrap {
    position: fixed;
    top: 120px;
    left: 40px;
    overflow: hidden;
    height: 40px;
    width: 60px;
    transition: 0.6s;

    &:hover {
      left: 30px;
      transition: 0.6s;
    }
  }
}

.footer {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
  background-image: linear-gradient(to right, #100e17, #e52e71 55%, #ff8a00);
  position: relative;
  z-index: 200;

  & a {
    display: block;
    font-size: 1.5rem;
    line-height: 1.3;
    color: #fff;
    letter-spacing: 0.2em;
    transform: 0.3s;
  }

  & a:first-child {
    margin-bottom: 2.4rem;
  }
}

.wrapper {
  margin-top: 10rem;
  margin-bottom: 20rem;
  position: relative;
  z-index: 200;
}

.container {
  margin-top: 10rem;
}

.text {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 138px;
  margin-top: 8rem;

  &Top {
    align-items: flex-start;
  }
  &Mid {
    margin-bottom: 14.4rem;
  }
}

.headingNum {
  position: absolute;
  font-family: PressStart2P;
  left: 0;
  font-size: 2.5rem;
  background-image: linear-gradient(90deg, #e52e71, #ff8a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-left: 6.2rem;
  padding-right: 3.2rem;
  line-height: 1.1;

  &:after {
    content: "";
    width: 4.8rem;
    height: 2px;
    background: #100e17;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.textWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
  box-sizing: content-box;
  max-width: 1200px;
  width: 100%;
  margin: auto;

  &Top {
    align-items: flex-start;
  }
}

.heading {
  font-size: 2.5rem;
  color: #100e17;
  letter-spacing: 0.2em;
  margin-right: 3.2rem;

  &Top {
    padding-top: 0;
  }
}

.who {
  &Wrap {
    width: 50%;
  }
  &Name {
    color: #100e17;
    margin-bottom: 2.4rem;
  }
  &Eng {
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    margin-bottom: 0.4rem;
  }

  &Text {
    margin-bottom: 4rem;
  }
  &Image {
    box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
  }
}

.passion {
  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &Item {
    width: 29.75%;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}
p {
  line-height: 2;
  word-wrap: break-word;
  white-space: normal;
}

.btnWrap {
  margin-top: 1.6rem;

  & .btn {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(90deg, #e52e71, #ff8a00);
    line-height: 1;
    font-weight: bold;
    padding: 18px 32px;
    border-radius: 50px;
    transition: 0.3s;
    letter-spacing: 0.1em;
    transition: 0.2s;

    &:hover {
      transform: translateY(-3px);
      transition: 0.2s;
    }
  }
}
