.scrollDown {
  position: fixed;
  font-size: 0.7rem;
  bottom: 80px;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: black;
  z-index: 100;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: white;
  cursor: default;
}

@media (max-width: 420px) {
  .scrollDown {
    left: auto;
    right: 6.25%;
    font-size: 0.6rem;
    bottom: 50px;
  }
}

.scrollDown::after {
  content: "";
  width: 2px;
  height: 64px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -80px;
}

.sky {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #191624;
  z-index: -200;
}

:global(#fp-nav) ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  :global(#fp-nav) ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

:global(#fp-nav) ul li {
  height: 3px;
  margin: 0 0 40px;
}

@media (max-width: 800px) {
  :global(#fp-nav) ul li {
    height: auto;
    margin: 0 28px;
  }
}

@media (max-width: 420px) {
  :global(#fp-nav) ul li {
    margin: 0 12px;
  }
}

:global(#fp-nav) ul li a {
  width: 24px;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 800px) {
  :global(#fp-nav) ul li a {
    width: 3px;
    height: 24px;
  }
}

@media (max-width: 420px) {
  :global(#fp-nav) ul li a {
    width: 2px;
    height: 16px;
  }
}

:global(#fp-nav) ul li span {
  display: none;
}

:global(#fp-nav) ul li :global(a.active) {
  width: 45px;
}

@media (max-width: 800px) {
  :global(#fp-nav) ul li :global(a.active) {
    width: 3px;
    height: 40px;
  }
}

@media (max-width: 420px) {
  :global(#fp-nav) ul li :global(a.active) {
    width: 2px;
    height: 32px;
  }
}

:global(#fp-nav) ul li:last-child {
  margin-bottom: 0;
}

:global(#fp-nav) {
  width: 40px;
  left: 40px !important;
  margin: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  overflow: hidden;
}

@media (max-width: 800px) {
  :global(#fp-nav) {
    width: auto;
    top: auto;
    left: 50% !important;
    bottom: 32px;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@media (max-width: 420px) {
  :global(#fp-nav) {
    bottom: 20px;
  }
}

.title {
  color: #fff;
  position: absolute;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  z-index: 200;
  margin-left: 12%;
}

@media (max-width: 800px) {
  .title {
    margin-left: 40px;
  }
}

@media (max-width: 420px) {
  .title {
    margin: 0 6.25%;
    width: 87.5%;
    top: 55%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    bottom: 8rem;
  }
}

.title .mainText {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-weight: normal;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}

@media (max-width: 800px) {
  .title .mainText {
    font-size: 5rem;
  }
}

@media (max-width: 420px) {
  .title .mainText {
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
    text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5);
  }
}

.title .sideText {
  font-family: Raleway;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@media (max-width: 800px) {
  .title .sideText {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .title .sideText {
    font-size: 0.8rem;
  }
}

.border {
  display: inline-block;
  margin-bottom: 2rem;
}

@media (max-width: 420px) {
  .border {
    margin-bottom: 0.8rem;
  }
}

.border span {
  display: block;
  width: 88px;
  height: 4px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#e52e71), to(#ff8a00));
  background: linear-gradient(90deg, #e52e71, #ff8a00);
}

@media (max-width: 800px) {
  .border span {
    width: 70px;
  }
}

@media (max-width: 420px) {
  .border span {
    width: 44px;
    height: 2px;
  }
}

.border span:first-child {
  margin-bottom: 0.7rem;
}

@media (max-width: 420px) {
  .border span:first-child {
    margin-bottom: 0.5rem;
  }
}

.border span:last-child {
  margin-left: 54px;
}

@media (max-width: 800px) {
  .border span:last-child {
    margin-left: 43px;
  }
}

@media (max-width: 420px) {
  .border span:last-child {
    margin-left: 27px;
  }
}

.sideGraphic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30%;
  margin: auto;
  height: 1385px;
  width: 1385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 800px) {
  .sideGraphic {
    width: 100vw;
    height: 100vw;
    left: 23%;
  }
}

@media (max-width: 420px) {
  .sideGraphic {
    width: 165vw;
    height: 165vw;
    left: 50%;
    bottom: auto;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

.sideGraphic .scene {
  position: relative;
  width: 40%;
  height: 40%;
}

.sideGraphic .scene .front {
  width: 100%;
  height: 100%;
  z-index: 200;
}

.sideGraphic .scene .front .headingWrap {
  position: absolute;
  left: -15%;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.sideGraphic .scene .front .headingWrap .headingText {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 10px 15px rgba(2, 11, 22, 0.2);
  background-image: -webkit-gradient(linear, left top, right top, from(#e52e71), to(#ff8a00));
  background-image: linear-gradient(90deg, #e52e71, #ff8a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: Montserrat;
  font-weight: 700;
  height: auto;
}

@media (max-width: 800px) {
  .sideGraphic .scene .front .headingWrap .headingText {
    font-size: 3rem;
  }
}

@media (max-width: 420px) {
  .sideGraphic .scene .front .headingWrap .headingText {
    font-size: 1.8rem;
    text-shadow: 0 4px 6px rgba(2, 11, 22, 0.2);
  }
}

.sideGraphic .scene .back {
  width: 100%;
  height: 100%;
  z-index: -100;
}

.sideGraphic .scene .back .moon {
  position: absolute;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.sideGraphic .comets {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.sideGraphic .comets .comet1 {
  height: auto;
  vertical-align: middle;
  width: 30%;
  position: absolute;
  top: -20%;
  left: -10%;
}

.sideGraphic .comets .comet2 {
  height: auto;
  vertical-align: middle;
  width: 30%;
  position: absolute;
  top: 0%;
  left: 90%;
}

.sideGraphic .comets .comet3 {
  height: auto;
  vertical-align: middle;
  width: 30%;
  position: absolute;
  top: 70%;
  left: -30%;
}

.sideGraphic .comets .comet4 {
  height: auto;
  vertical-align: middle;
  width: 30%;
  position: absolute;
  top: 65%;
  left: 50%;
}

.sideGraphic .comets .comet5 {
  height: auto;
  vertical-align: middle;
  width: 30%;
  position: absolute;
  top: -25%;
  left: -70%;
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #191624;
  z-index: 99999;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #100e17;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%) translateZ(0px);
          transform: translateY(-100%) translateZ(0px);
  z-index: 99999;
}

.stars {
  width: 1300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 30%;
  z-index: -100;
}

@media (max-width: 800px) {
  .stars {
    width: 100vw;
    left: 23%;
    top: -25%;
  }
}

@media (max-width: 420px) {
  .stars {
    left: 0;
  }
}

.stars .layer {
  width: 100%;
  height: 100%;
}

.stars .layer .starWrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars .layer .starWrap .starImg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

p {
  overflow-wrap: break-word;
  white-space: normal;
}

.image {
  display: block;
  position: relative;
  width: 53.125%;
  height: 74.81%;
  margin: 0px 8% 0px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 80px 140px -40px;
          box-shadow: rgba(0, 0, 0, 0.6) 0px 80px 140px -40px;
  padding: 0;
}

@media (max-width: 800px) {
  .image {
    margin-right: 40px;
  }
}

@media (max-width: 420px) {
  .image {
    width: 80%;
    height: 47%;
    margin: 0 10%;
    top: -15%;
  }
}

.image .imageOver {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image .imageOver .imageCover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#e52e71), to(#ff8a00));
  background: linear-gradient(90deg, #e52e71, #ff8a00);
}

.image .imageOver .imageCover:last-child {
  background: #100e17;
}

.image .pageNum {
  position: absolute;
  overflow-y: hidden;
  right: -7.549%;
  bottom: 12.3762%;
  font-size: 6rem;
  color: white;
  font-family: PressStart2P;
}

@media (max-width: 800px) {
  .image .pageNum {
    font-size: 5rem;
    right: -5%;
  }
}

@media (max-width: 420px) {
  .image .pageNum {
    display: none;
  }
}

.image .pageNum p {
  line-height: 1.1;
  text-shadow: rgba(2, 11, 22, 0.5) 0px 10px 30px;
}

.btnWrap {
  margin-top: 1.6rem;
}

@media (max-width: 800px) {
  .btnWrap {
    margin-top: 0.8rem;
  }
}

@media (max-width: 420px) {
  .btnWrap {
    text-align: center;
    margin-top: 0.7rem;
  }
}

.btnWrap .btn {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#e52e71), to(#ff8a00));
  background: linear-gradient(90deg, #e52e71, #ff8a00);
  line-height: 1;
  font-weight: bold;
  padding: 18px 32px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 800px) {
  .btnWrap .btn {
    font-size: 1rem;
    padding: 13px 24px;
  }
}

@media (max-width: 420px) {
  .btnWrap .btn {
    font-size: 0.8rem;
  }
}

.btnWrap .btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.title li {
  margin-bottom: 1.6rem;
}

@media (max-width: 420px) {
  .title li {
    margin-bottom: 0.8rem;
    line-height: 1.1;
  }
}

.title li a {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 800px) {
  .title li a {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .title li a {
    font-size: 0.8rem;
  }
}

.title li a:hover {
  color: #b9b9b9;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  margin-left: 0;
}

.icons a {
  margin: 0 30px 0 0;
}

.icon {
  font-size: 28px;
}

@media (max-width: 800px) {
  .icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  .icon {
    font-size: 1.2rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.imgContact {
  background: url(../../images/dima-pechurin-JUbjYFvCv00-unsplash.jpg) no-repeat center;
  background-size: cover;
  cursor: default;
}

.imgAbout {
  background: url(../../images/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg) no-repeat center;
  background-size: cover;
}

.imgProjects {
  background: url(../../images/dhaval-parmar-dnPniNPUe4o-unsplash.jpg) no-repeat center;
  background-size: cover;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=home.module.css.map */